
/* Misc */

.floatnone {float: none;}
.float-left {float:left;}


.clearfix:after {clear:both; content:"."; display:block; height:0; line-height:0; visibility:hidden;}

.clearit {
	clear: both;
	font-size: 0;
	line-height: 0;
	height: 0;
}
.clear-both {clear: both;}

.add-bottom-margin {margin-bottom:25px;}



::selection {
	background: #FF4F2C; /* Safari */
	}
::-moz-selection {
	background: #FF4F2C; /* Firefox */
}


/* Layout ----------------------------------------------------------------- */

body {background-color: #ffffff; height:100%; position:relative; font-family: helvetica, sans-serif;
}


/* Typography ----------------------------------------------------------------- */


body {font-size: 100%;/*16px*/ line-height: 1.375 ; color: #000000;  }

h1 {font-size: 2em;/*48px*/ line-height: 1em; font-weight: bold; }
h2 {font-size: 1.75em;/*34px*/ line-height: 1.2em; font-weight: bold; margin-bottom: .6em;
}
h3 {font-size: 1.55em;/*28px*/ font-weight: bold; }
h4 {font-size: 1.3125;/*18px*/ font-weight: normal;  }
h5 {font-family: Helvetica, Arial, sans-serif; font-size: 15px;/*48px*/ color:#888888; font-weight: bold; text-transform: uppercase; letter-spacing: 1px; line-height: 22px;  margin-bottom: 11px;}



p {margin-bottom:.5em; }

ul,
ol {margin-bottom: 0px;}
li {margin-left: 0px;}
a {text-decoration: none; color: #888888;}
a:hover {color: #FF4F2C; text-decoration: none;}

.caps {text-transform: uppercase; letter-spacing: 0.1em; font-size: .8em;}


/* general ----------------------------------------------------------------- */
.container_12 {margin-top: 20px; }
#nav {border-top: 1px solid #333; border-bottom: 1px solid #333; margin: 15px 0 50px; padding: 5px 0;
}

.options {font-size: 2em; }

a.button {display: inline-block; background-color: #ccc ; color: #333; padding: .3em .6em ; }

a:hover.button {background-color: #bbb ; color: #333; }
a:active.button {background-color: #aaa ; color: #333; }

.textbox {background-color: #fff ; border: 1px solid #ddd; color: #333; padding: .3em 0 ; text-align: center;  display: inline-block; width: 50px; font-size: 1em; }

/* Main ----------------------------------------------------------------- */

.card {background-color: #000; color: #fff; height: 400px; font-size: 3em; font-weight: bold; margin-bottom: 30px; }
.card .result {padding: 30px 10px; text-align: center;  }

.options {margin-bottom: 30px; }

.card-count {border-top: 1px solid #333; padding-top: 10px; }




/* Footer ----------------------------------------------------------------- */



